* {
	margin: 0;
	padding: 0;
}

body {
    font-family: "interstate_lightcondensedRg", Helvetica, Arial;
}

#intro {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 999999;
    color: #FFFFFF;
    text-align: center;
}

#intro h1 {
    font-family: "bebas_neue_regularregular", Helvetica;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 5em;
}

#intro h2 {
    margin-top: 25px;
    font-family: "interstate_thincondensedRg", Helvetica;

    font-weight: lighter;
    font-size: 2em;
}

#intro #begin {
    font-family: "interstate_lightcondensedRg", Helvetica;
    position: relative;
    top: 45%;

    display: block;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    width: 100px;

    cursor: pointer;

    font-size: 1.3em;
    color: #3E3E3E;
    background: #232323;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;


    transition: all ease 0.5s;

}


#intro #begin:hover {
    color: #FFFFFF;
    background: #5D5D5D;
}

#intro #title {
    position: relative;
    top: 35%;
}

#legend {

    display: inline-block;
    width:250px;

	position: relative;
	z-index:999;

	text-align: left;
    font-size: 15px;

    margin-left: 40px;
}

#legend #text {

    position: relative;
    z-index:999;

    font-family: "interstate_lightcondensedRg", Helvetica;

    height: 250px;

    width: 250px;
    background-color: #232323;
}

#legend ul{

    margin-left: 40px;
    padding-top: 20px;
    color: white;
}

#legend ul li{
    padding-top:20px;
    list-style-type: none;
    padding-left: 10px;
    margin-left: 5px;
}

#legend ul li:nth-child(1) {
    list-style-image: url('../assets/img/1_dotRed.png');
}

#legend ul li:nth-child(2) {
    list-style-image: url('../assets/img/2_dotTurquoise.png');
}

#legend ul li:nth-child(3) {
    list-style-image: url('../assets/img/3_dotPink.png');
}

#legend ul li:nth-child(4) {
    list-style-image: url('../assets/img/4_dotViolet.png');
}

#legend ul li:nth-child(5) {
    background: url('../assets/img/5_stripes.png') no-repeat 0px 3px;
    padding: 0 0 0 28px;
    margin-top: 30px;
    margin-left: -15px;
    line-height: 30px;
}

#legend #button {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #232323;
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    bottom: 0;
    left: 90px;
    -webkit-border-radius: 0 0 100% 100%;
    -moz-border-radius: 0 0 100% 100%;
    border-radius: 0 0 100% 100%;
    color: #494949;

    font-family: "interstate_lightcondensedRg", Helvetica;

    cursor: pointer;

    z-index:1;

}

#legend span {
    position: relative;
    top: 30px;
    left: 21px;
}

#stats {
    color: #FFF;
    position: absolute;
    z-index: 99;

    width: 100%;

    right: 0;
    bottom: 50px;
}

#stats table td{
    width: 160px;
}

.align-right {
    text-align: right;
    padding-right: 20px;
}